<!DOCTYPE html>

<html lang="en">
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drogaria Na Web</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/detalheProduto.css">
</head>


    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/medicamentos.css">
</head>

<body>
<header>
    <div class="header">
        <nav class="menu">
            <ul class="menu-filters">
                <li>Saudável</li>
                <li>Cuidados Pessoais</li>
                <li>Diabetes</li>
            </ul>
            <img src="/imgs/burgao.png" alt="">
        </nav>

        <img class="logo" src="/imgs/logo.png" alt="Drogaria Na Web">

        <img class="carrinho" src="/imgs/carrinho.png" alt="Carrinho De Compras">
    </div>

    <div class="search">
        <input type="text" class="busca" placeholder="O que você deseja encontrar?">
    </div>
</header>



