<header>
    <div class="header">
        <nav class="menu">
            <ul>
                <li>Saudável</li>
                <li>Cuidados Pessoais</li>
                <li>Diabetes</li>
            </ul>
            <img src="/imgs/burgao.png" alt="">
        </nav>

        <img class="logo" src="/imgs/logo.png" alt="Drogaria Na Web">

        <img class="carrinho" src="/imgs/carrinho.png" alt="Carrinho De Compras">
    </div>

    <div class="search">
        <input type="text" class="busca" placeholder="O que você deseja encontrar?">
    </div>
</header>
