

    <%- include('header.ejs') %> 
<body>
    <h1>Olá, mundo</h1>
    <main>
        <section class="categorias">
            <article>
                <% categorias.forEach(categoria => { %>
                    <img class="imgMain" src="<%= categoria.imagem %>" alt="">
                    <h1><%= categoria.nomeCategoria %></h1>
                <% }) %>
            </article>
        </section>

        <section class="promocoes">
            <article>

            </article>
        </section>

        <section class="maisVendidos">
            <article>

            </article>
        </section>
    </main>
    
    
</body>
</html>