<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/loginPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
   
</head>
<body>
    <section class="login-card">
        <div class="column">
            <img src="/imgs/logo.png" alt="logo" class="logo">
            <p>Acesse sua conta para acompanhar seus pedidos. </p>
            <form>
                <div class="form-item">
                    <input type="text" class="form-element" placeholder="E-mail">
                </div>
                <div class="form-item">
                    <input type="password" class="form-element" placeholder="Password">
                </div>
                <div class="form-checkbox-item">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Lembrar Me</label>
                </div>
                <div class="btn">
                    <button type="button">Entrar</button>
                    <a href="#">Trocar a senha</a>
                </div>
                <p style="margin-top: 3rem;margin-bottom: 1.5rem;">Entrar com</p>
                <div class="social-buttons">
                    <a href="#" class="google">
                        <i class="bi bi-google"></i>
                    </a>
                    <a href="#" class="facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </form>
        </div>
        <div class="column">
            <h2>Não tem uma conta?</h2>
            <p>Cadastre-se para receber novidades e finalizar suas compras.</p>
            <p> A seguir você informara seus dados para continuar o processo de compra.</p>
            <div class="btn-right">
                <button type="button">Entrar</button>
            </div>
        </div>
    </section>
</body>
</html>