
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	padding-bottom: 16px;
}
.footer i {
	font-size: 24px;
}

footer {
    
    margin-top: 50px;
    
}
.register {
    display: flex;
    
    background-color: #fff;
    align-items: center;
}

.man_icon {
    position: relative;
    width: 140px;
    left: 5px;
}

.register_text {
    padding-right: 10px;
}

.register_text span {
    color: #004AAD;
    font-size: 26px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    
}

.form_item {
    width: 90vw;
}

.form_element {
    width: 100%;
    border: none;
    background-color: #f1f1f1;
    font-size: 13px;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0.2rem;
    height: 50px;
    margin-top: 0.5rem;
}

.btn {
    width: 90vw;
}

.btn > button {
    width: 100%;
    
    background-color: #f1f1f1;
    color: grey;
    font-size: 13px;
    border-radius: 50px;
    padding: 5px 10px;
    margin: 0.2rem;
    height: 50px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  
}

.footer__title {
	font-size: 24px;
    text-align: center;
	
	font-weight: 500;
	margin-bottom: 20px;
    /*background-image: linear-gradient(to right, #004AAD, steelblue, turquoise); */
    color: #004AAD;
    
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.footer__list {
	display: flex;
	flex-direction: column;
    align-items: center;
	gap: 20px;
}
.footer__list-link {
	transition: color 0.25s;
}
.footer__list-link:hover {
	color: #fff;
}
.footer__divider {
	margin-block: 18px;
	border: none;
	border-top: 1px solid rgba(252, 255, 255, 0.034);
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
    background-color: #fff;
}
.footer__list--bottom {
	flex-direction: row;
}

@media (min-width: 596px) {

    .register {
        width: 100%;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .register_text {
       padding-right: 50px; 
    }

    .form {
        flex-direction: row;
    }

    .form_item {
        width: 100vw;
    }

    .form_item:not(:last-child) {
        padding: 5px;
    }

    .btn {
        position: relative;
        top: 3px;
        width: 50vw;
        margin-right: 7px;
    }

    .footer__list {
        
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__list-link {
        position: relative;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .register {
        width: 100%;
        justify-content: flex-end;
        flex-direction: row-reverse;
        padding-left: 10px;
    }

    .register_text{
        padding: 0px;
    }

    .form {
        position: relative;
        left: 510px;
        bottom: 140px;
        width: 50vw;
    }
    
    
}

@media (min-width: 1439px) {

    .man_icon {
        left: 60px;
    }

    .register_text {
        position: relative;
        left: 25px;
        font-size: 18px;
    }

    .form {
        position: relative;
        left: 645px;
        bottom: 130px;
        width: 55vw;
    }

    .footer__contacts {
        position: relative;
        bottom: 20px;
    }

    
}