
.componentes-prateleira {
    display: flex;
}
.test {
    display: none;
}


@media (min-width:922px) {
    .test {
        display: block;
    }
}

.products {
    display: flex;
}

.products li {
    width: 200px;
}

